.Home {
  &__main {
    padding: 5rem 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;

    * {
      margin-top: 0;
    }

    @media screen and (min-width: 768px) {
      padding: 5rem 2rem;
    }
  }

  &__logo {
    @include neumorphism($nord6);

    margin-bottom: 1.75rem;
    border-radius: var(--border-radius);
    line-height: 0;

    img {
      border-radius: var(--border-radius);
    }
  }

  &__title {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
    z-index: 1;
  }

  &__subtitle {
    font-weight: 100;
    margin-bottom: 1em;
  }

  &__quote {
    @include neumorphism($nord6);

    border-radius: var(--border-radius);
    padding: 2rem;
    margin-bottom: 4rem;

    @media screen and (min-width: 768px) {
      padding: 3rem;
    }

    .quote {
      &__text {
        line-height: 1.5;
        font-size: 1rem;
        max-width: 30rem;
      }

      &__quotee {
        font-size: 0.85rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 2em 0 0.5em;

        &:last-of-type {
          margin: 0;
        }

        a {
          color: var(--fg-accent);
        }
      }
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
  }

  &__development {
    font-weight: 100;
    font-size: 1rem;
  }
}
