/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.container {
  font-family: 'Lato', sans-serif;
  background: #eceff4;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}

.logo {
  margin-bottom: 1.75rem;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.25));
}

.title {
  font-size: 3.5rem;
}

.title,
.description,
.quote {
  margin-top: 0;
  color: #434c5e;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  max-width: 30rem;
  font-weight: 300;
}

.quote {
  font-size: 0.75rem;
  font-style: italic;
  font-weight: 300;
}
